# Task 1
Создайте список list_ с пятью элементами.
Затем присвойте третий элемент этого списка переменной list1

In [1]:
list_ = [1, 2, 3, 4, 5]
list1 = list_[2]
print(list1)

3

# Task 2
Дан список list2.

Oтсортируйте его в возрастающем порядке
и удалите элемент, который будет находится по середине.



```
input:
[5, 3, 1, -1, 10]
output:
>>> [-1, 1, 5, 10]
```

In [16]:
list2 = [23, 34, 12, 7, 0, -4, -56, -100, 344, 98, 232]

In [17]:
list2 = sorted(list2)
list2.pop(len(list2) // 2)
list2

[-100, -56, -4, 0, 7, 23, 34, 98, 232, 344]

# Task 3
Дан список list_ и переменная num со значением input().
Посчитайте, сколько раз элемент, который придет в num, встречается в списке.
Oтвет запишите в переменную list3.

In [21]:
list_ = [1, 22, 3, 45, 22, 4, 89, 87, 87, 4]
num = 4
list3 = list_.count(num)
print(list3)

2

# Task 4
Представьте себе, что у вас есть сад с фруктами. Соберите 5 фруктов из этого сада в корзину (список list4),
используя метод добавления в списки.
Затем замените третий(index = 2) элемент на другой фрукт через метод списка.

In [22]:
list4 = []
list4.append('apple')
list4.append('pinapple')
list4.append('grape')
list4.append('banana')
list4.append('mango')
print(list4)
list4[2] = 'marakuja'
print(list4)

['apple', 'pinapple', 'grape', 'banana', 'mango']
['apple', 'pinapple', 'marakuja', 'banana', 'mango']

# Task 5
Создайте список list5 заполненныый числами от 0 до 19 включительно используя range() так, чтобы не было вложенностей.

In [23]:
list5 = list(range(20))
print(list5)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

# Task 6
Создайте два списка ls1, ls2 со случайным набором чисел. Объедините эти списки в один, азатем присвойте сумму всех чисел переменной list6.

In [27]:
from random import randint
m, n = 5, 6
ls1 = [randint(-5, 5) for _ in range(m)]
ls2 = [randint(-5, 5) for _ in range(n)]
list6 = sum(ls1 + ls2)
print(list6)

1

# Task 7
Дан список lst7. Извлеките из него только те числа, которые больше 10. Ответ запишите в переменную list9. Вам понадобится функция filter(), про которую стоит прочитать в документации или в Google)



```
input:
[1, 2, 3, 10, 100, 12, 4]

output:
[100, 12]
```

In [29]:
lst7 = [1, 22, 10, 45, 22, 4, 89, 87, 87, 4]
list9 = list(filter(lambda x: x > 10, lst7))
print(list9)

[22, 45, 22, 89, 87, 87]

# Task 8

Дана строка str_. Превратите ее в список разбив по пробелу.



```
str = 'Data science is good!'

>>> ['Data', 'science', 'is', 'good!']

```
Ответ запишите в переменную list10

In [30]:
str_ = 'The second type of coordinate system is a projected coordinate system.'

list10 = str_.split(' ')
print(list10)

['The', 'second', 'type', 'of', 'coordinate', 'system', 'is', 'a', 'projected', 'coordinate', 'system.']